<div class="signup2">

    <div class="sign-up2-con">

        <div class="">

            <img src="../../../assets/BnR360.png" alt="" style="width:150px; height:85px;">

        </div>

        <div style="width: 200px;">

            <p class="m-0">Completion Rate: <span class="percent">10%</span></p>

            <div class="w3-light-grey">

                <!-- <div class="w3-grey" style="height:24px;width:20%;margin-top: -40px; border-radius: 8px; margin-bottom: 20px; margin-left: 190px;"></div> -->
                <div class="animation-bar-1">
                    <span style="width:10%"></span>
                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-3 text-center">

        <div class="heading">

            <h1><u>Join as a client or freelancer</u></h1>

        </div>

    </div>

    <div class="class">

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6 offset-lg-3 text-center">

                <div class="button">

                    <button (click)="goto('clientprofile1')" class="hover-btn" type="button"><img src="assets/client.png" alt=""
                            style="width: 205px; height: 205px text-center;">

                        <h5>I’m a client,

                            hiring for a project</h5>
                    </button>

                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 text-center">

                <div class="button1">

                    <button (click)="goto('signup-final')" class="hover-btn" type="button"><img src="assets/freelancer.png" alt=""
                            style="width: 205px; height: 205px text-center;">

                        <h5>I’m a freelancer,

                            looking for work</h5>
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>