<div class="container">
  <div class="row">
      <div class="col-lg-6">
          <div class="box">
           <div class="boxcontent">
                <img src="assets/man.png" alt="">
                 <h2>Syed Hassan Kamal</h2>
          </div>
          <div class="skill">
           <p>Graphics Designer <img src="assets/star.png" alt=""> 5.0/5  </p><p>$50/hr</p>
          </div>
          <div class="content">
           <p>Syed Hassan Kamal is experienced and skillful Graphics Designer</p>
               <button>View Profile</button>
               <button>Contact</button>
               <button>Hire</button>
          </div>
        </div>
     </div>
     <div class="col-lg-6">
         <div class="box">
          <div class="boxcontent">
               <img src="assets/man.png" alt="">
                <h2>Syed Hassan Kamal</h2>
         </div>
         <div class="skill">
          <p>Graphics Designer <img src="assets/star.png" alt=""> 5.0/5</p><p>$50/hr</p>
         </div>
         <div class="content">
          <p>Syed Hassan Kamal is experienced and skillful Graphics Designer</p>
              <button>View Profile</button>
              <button>Contact</button>
              <button>Hire</button>
         </div>
       </div>
  </div>
</div>