.h4, h4{

    color: #8969C0;

    margin-top: 30px;

    margin-left: -32px;

}

img{

    width: 150px;

    height: 130px;

    margin-top: 15px;

    margin-right: 8px;

}

.row{

    display: flex;

}

.box{

    width: 252px;

    height: 717px;

    margin-top: 50px;

    margin-left: -20px;

    box-shadow: 0px 0px 0px 1px;

    border-radius: 9px;

}

.box h6{

    color: #2d2d61;

    margin-left: 10px;

    margin-top: 2px;

    font-size: medium;

    padding-top: 30px;

}

.box p{

    color: #000000;

    margin-left: 11px;

    font-size:smaller;

}

.box p u{

    color: #00A887;

}