<app-header></app-header>
<div class="container">

    <div class="mystats">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-12">

                <h4><u>Succes Rate</u></h4>

 

                <div class="rate">

                    <div class="row">

                        <img src="assets/Group 174.png" alt="" style="margin-left: -32px;">

                        <img src="assets/Group 170.png" alt="">

                        <img src="assets/Group 171.png" alt="">

                        <img src="assets/Group 172.png" alt="">

                        <img src="assets/Group 173.png" alt="">

                    </div>

                </div>

 

                <h4><u>Project completed vs Ongoing</u></h4>

                <img src="assets/image 23.png" alt="" style="width: 820px; height: 512px; margin-left: -32px;">

            </div>

 

            <div class="col-lg-2 col-md-2 col-sm-12 offset-lg-2">

                <div class="box">

                    <h6>Success Rate</h6>

                    <p>Responding to invitations quickly means contracts are started more often and more quickly, leading to more work for everyone... <u>Learn more</u></p>

 

                    <h6>Project Completed</h6>

                    <p>We reward success at each stage in your Upwork journey with a badge that helps you win more work from top clients. Get and maintain a badge by consistently delivering great results for your clients... <u> Learn more</u></p>

 

                    <h6>project Ongoing</h6>

                    <p>We reward success at each stage in your Upwork journey with a badge that helps you win more work from top clients. Get and maintain  <u>Learn more</u></p>

                </div>

            </div>

        </div>

        </div>

    </div>

</div>
