<div class="container">
    <div class="row">
    <div class="col-lg-4">
        <div class="box">
            <img src="assets/No-credit-cards.png" alt="">
            <div class="content">
                   <h6>No Monthly Membership</h6>
                   <p>Once you’re set up, payouts arrive in
                    your bank account on a 2-day rolling</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <img src="assets/No-credit-cards.png" alt="">
            <div class="content">
                   <h6>No Monthly Membership</h6>
                   <p>Once you’re set up, payouts arrive in
                    your bank account on a 2-day rolling</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <img src="assets/No-credit-cards.png" alt="">
            <div class="content">
                   <h6>No Monthly Membership</h6>
                   <p>Once you’re set up, payouts arrive in
                    your bank account on a 2-day rolling</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">

    
    <div class="col-lg-4">
        <div class="box">
            <img src="assets/No-credit-cards.png" alt="">
            <div class="content">
                   <h6>No Monthly Membership</h6>
                   <p>Once you’re set up, payouts arrive in
                    your bank account on a 2-day rolling</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <img src="assets/No-credit-cards.png" alt="">
            <div class="content">
                   <h6>No Monthly Membership</h6>
                   <p>Once you’re set up, payouts arrive in
                    your bank account on a 2-day rolling</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <img src="assets/No-credit-cards.png" alt="">
            <div class="content">
                   <h6>No Monthly Membership</h6>
                   <p>Once you’re set up, payouts arrive in
                    your bank account on a 2-day rolling</p>
            </div>
        </div>
    </div>
</div>
</div>
