<div class="banner">
    <div class="col-lg-4 col-md-4 col-sm-4 offset-lg-4 text-center">
        <div class="heading">  
        <h1>
            <br>
             Join World's Best Freelance Marketplace
        </h1>
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 offset-lg-1 text-center">
        <p>Hire experienced freelancers in developing software and web applications using trending and most advanced technologies. For all the
            highly skilled and experienced freelancers, start your new journey of frelancing, sight work at your finger tips</p>
    </div>
        <div class="search">
            <div class="search-inner">
                <input type="text" id="search-box" placeholder="Search for a job...">
                <i class="fa fa-paper-plane-o send-btn" aria-hidden="true"></i>
            </div>
            <!-- <a href="#">
                <img src="assets/icon.png" id="cur-img" width="20px" alt="cursor pic">
            </a> -->
        </div>
    <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-3 text-center mt-4">
        <div class="trend">
            <div class="row">
        <ul>
            <li>Trending Searches</li>
            <li><button class="btnn">VA</button></li>
            <li><button class="btnn1">mobile app UI/UX</button></li>
            <li><button class="btnn1">Graphic Design</button></li>
        </ul>
        <br><br><br>
        </div>
    </div>
    </div>
</div>