<app-header></app-header>
<div class="container">

    <div class="messages">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <h4><u>Messages (02)</u></h4>

          <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-2">

                <div class="box">

                    <img src="assets/Group 182.png" alt="">

                    <div class="line"></div>

 

                    <img src="assets/Group 181.png" alt="">

                    <div class="line"></div>

 

                    <img src="assets/Group 180.png" alt="">

                    <div class="line"></div>

 

                    <img src="assets/Group 179.png" alt="">

                    <div class="line"></div>

 

                    <img src="assets/Group 178.png" alt="">

                </div>

            </div>

 

            <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-1">

                <div class="box1">

                  <div class="row1">

                    <img src="../../../assets/client.png" alt="" style="width: 72px; height: 57px; margin-top: 20px; margin-left: 20px;">

                    <h6>Henry Cavil</h6>

                    <p>Now</p>

                    <!-- <img src="assets/more 1.png" alt="" style="width: 28px; height: 28px ; margin-top: 40px; margin-left: 586px;"> -->
                    <i style="margin-top: 40px; margin-left: 586px;" class="fa fa-ellipsis-v"></i>

                  </div>

                 

                  <div class="para">

                    <p>am looking for someone long term (3 - 12 months) , who can manage Facebook, Instagram, LinkedIn, Google Plus Business, check my website dcbip.in I don't have any plan on hand right now, you can come up with your plan and price to grow my business.</p>

                  </div>

 

                  <div class="line1"></div>

 

                  <div class="row1">

                    <img src="assets/man 1.png" alt="" style="width: 72px; height: 57px; margin-top: 20px; margin-left: 20px;">

                    <h6>Me</h6>

                    <p>07.00 am</p>

                    <!-- <img src="assets/more 1.png" alt="" style="width: 28px; height: 28px ; margin-top: 40px; margin-left: 612px;"> -->
                    <i style="margin-top: 40px; margin-left: 616px;" class="fa fa-ellipsis-v"></i>


                  </div>

                 

                  <div class="para">

                    <p>am looking for someone long term (3 - 12 months) , who can manage Facebook, Instagram, LinkedIn, Google Plus Business, check my website dcbip.in I don't have any plan on hand right now, you can come up with your plan and price to grow my business.</p>

                  </div>

 

                  <div class="line1"></div>

 

                  <div class="row1">

                    <!-- <img src="assets/Profile (1).png" alt="" style="width: 72px; height: 57px; margin-top: 20px; margin-left: 20px;"> -->
                    <img src="../../../assets/client.png" alt="" style="width: 72px; height: 57px; margin-top: 20px; margin-left: 20px;">

                    <h6>Henry Cavil</h6>

                    <p>07.00 am</p>

                    <!-- <img src="assets/more 1.png" alt="" style="width: 28px; height: 28px ; margin-top: 40px; margin-left: 544px;"> -->
                    <i style="margin-top: 40px; margin-left: 546px;" class="fa fa-ellipsis-v"></i>


                  </div>

                 

                  <div class="para">

                    <p>am looking for someone long term (3 - 12 months) , who can manage Facebook, Instagram, LinkedIn, Google Plus Business, check my website dcbip.in I don't have any plan on hand right now, you can come up with your plan and price to grow my business.</p>

                  </div>

 

                  <div class="line1"></div>

 

                  <div class="row2">

                    <div class="box2">

                        <h6>Send Message...</h6>

 

                        <div class="line2"></div>

                       

                        <div class="row3">

                            <!-- <img src="assets/smile 1.png" alt="" style="width:26px ; height:26px;margin-left: 50px;margin-top: -3px;"> -->
                            <i style="margin-left: 50px; margin-top: -3px; font-size: 20px;" class="fa fa-meh-o" aria-hidden="true"></i>

                            <!-- <img src="assets/attachment 1.png" alt="" style="width: 36.25px; height: 34.25px; margin-left: 50px; margin-top: -3px;"> -->
                            <i style="margin-left: 50px; margin-top: -3px; font-size: 20px;" class="fa fa-paperclip" aria-hidden="true"></i>

                        </div>

                    </div>

 

                    <div class="box3">

                        <!-- <img src="assets/send 1.png" alt="" style="margin-left: 10px;margin-top: 8px;"> -->
                        <i style="font-size: 2rem; color: #252424;" class="fa fa-paper-plane-o" aria-hidden="true"></i>

                    </div>

                  </div>

                </div>

            </div>

          </div>

        </div>

    </div>

</div>
