<!-- <header>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="logo">
                    <img src="assets/BnR360 2.png" alt="logo">
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 offset-lg-1">
                <div class="menu">
                    <ul>
                        <li>Findwork</li>
                        <li>Become a Freelancer</li>
                        <li>Hire a Freelancer</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="button">
                <ul>
                    <li>
                        <button class="btn1" type="button" routerLink="/signup">Log in</button>
                        <button class="btn2" type="button" routerLink="/signin">Register</button>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</header> -->

<header class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="header__logo">
                    <img src="../../../assets/BnR360.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header__navlist">
                    <ul>

                        <li>
                            <a href="#">Become a Freelalncer</a>
                        </li>
                        <li>
                            <a href="#">Hire a Freelancer</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="header__btns">
                    <button class="header__btn" type="button" routerLink="/signup">Log in</button>
                        <button class="header__btn" type="button" routerLink="/signin">Register</button>
                </div>
            </div>
        </div>
    </div>

</header>