<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__links">
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Feedback</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li class="follow">
                            <a href="#">Follow Us On</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__links">
                    <ul>
                        <li>
                            <a href="#">Trust,safety and security</a>
                        </li>
                        <li>
                            <a href="#">Help and Support</a>
                        </li>
                        <li>
                            <a href="#">Bnr foundation</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__links">
                    <ul>
                        <li>
                            <a href="#">Trust,safety and security</a>
                        </li>
                        <li>
                            <a href="#">Help and Support</a>
                        </li>
                        <li>
                            <a href="#">Bnr foundation</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__links">
                    <ul>
                        <li>
                            <a href="#">Trust,safety and security</a>
                        </li>
                        <li>
                            <a href="#">Help and Support</a>
                        </li>
                        <li>
                            <a href="#">Bnr foundation</a>
                        </li>

                    </ul>
                </div>
            </div>
          
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</footer>