<div class="clientprofile">
  <div class="sign-up2-con">

    <div class="">

      <img src="../../../assets/BnR360.png" alt="" style="width:150px; height:85px;" routerLink="">

    </div>

    <div style="width: 200px;">

      <p class="m-0">Completion Rate: <span class="percent">40%</span></p>

      <div class="w3-light-grey">

        <!-- <div class="w3-grey" style="height:24px;width:20%;margin-top: -40px; border-radius: 8px; margin-bottom: 20px; margin-left: 190px;"></div> -->
        <div class="animation-bar-1">
          <span style="width:40%"></span>
        </div>

      </div>

    </div>

  </div>
  <div class="card-containerr">
    <div class="box">
      <h1>Join Bnr 360 as a Client </h1>
      <p> Profile Picture
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </p>
      <div>
        <div class="profile-sec">

          <div class="box1">
            <img src="assets/profile.png" alt="" style="width: 148px; height: 148px; margin-top: 10px;">
            <div class="icons">
              <i title="Profile Picture" class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <i title="Change profile Picture" class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="lang-con">
            <p class="Title">Language<i class="fa fa-question-circle-o" aria-hidden="true"></i></p>
            <div class="box7">
              <select name="skills">
                <option value="Urdu">Urdu</option>
                <option value="Conversational">Conversational</option>
                <option value="English">English</option>
              </select>
            </div>
          </div>
        </div>

        <p class="mt-4">Occupation<i class="fa fa-question-circle-o" aria-hidden="true"></i></p>
        <div class="box7">
          <div>
            <label></label>
            <select>
              <option value="graphics">graphics Design</option>
              <option value="Web">Web Designing</option>
              <option value="UI">UI/UX Designing</option>
              <option value="Frontend">Frontend Designing</option>
            </select>
          </div>
          <div class="Year d-flex">
            <label for="Year">From</label>
            <select id="Year" name="Year">
              <option value="Year">year</option>
              <option value="Year">2023</option>
              <option value="Year">2022</option>
              <option value="Year">2021</option>
            </select>
          </div>
          <div class="To d-flex">
            <label for="To">To</label>
            <select id="Year" name="Year">
              <option value="Year">year</option>
              <option value="Year">2023</option>
              <option value="Year">2022</option>
              <option value="Year">2021</option>
            </select>
          </div>
        </div>
        <p class="mt-4">Education<i class="fa fa-question-circle-o" aria-hidden="true"></i></p>
        <div class="box7">
          <div class="Skills">
            <label for="skills"></label>
            <select id="skills" name="skills">
              <option value="graphics">graphics Design</option>
              <option value="Web">Web Designing</option>
              <option value="UI">UI/UX Designing</option>
              <option value="Frontend">Frontend Designing</option>
            </select>
          </div>
          <div class="Year">
            <label for="Year">From</label>
            <select id="Year" name="Year">
              <option value="Year">year</option>
              <option value="Year">2023</option>
              <option value="Year">2022</option>
              <option value="Year">2021</option>
            </select>
          </div>
          <div class="To">
            <label for="To">To</label>
            <select id="Year" name="Year">
              <option value="Year">year</option>
              <option value="Year">2023</option>
              <option value="Year">2022</option>
              <option value="Year">2021</option>
            </select>
          </div>
        </div>
        <div class="button">
          <button class="mt-4 mb-4" (click)="submit()" type="button">Next</button>
        </div>
      </div>