img{
    width: 25%;
    height: 10%;
    margin-left: 240px;
    margin-top: 20px;
}
.media img{
    width: 25%;
    text-align: center;
    justify-content: center;
    margin-left: 260px;
    margin-right: -250px;
}
h2{
    color: #7B7B80;
    margin-left: 140px;
}
h6{
    color: #7B7B80;
    margin-left: 200px;
    font-size: -25px;
}
h6>span{
    color: #977BC8;
    text-decoration: underline;
    cursor: pointer;
}
label{
    color: #7B7B80;
    margin-left: 0px;
}
label.first_name{
    margin: 0 4rem;
    color: #7B7B80;
}
input#Firstname{
    border-radius: 7px;
    border: 1px solid gray;
    margin-left: 66px;
}
.field{

    margin-left: 40px;

    margin-bottom: 10px;

}

.field>label{

    font-size: 15px;

    color: #95959A;

    margin-left: 45px;

}.form_feild > input{
    padding: 3px 0;
    border-radius: 2px;
    border: 1px solid grey;
    outline: none;
}
input#Lasttname {
    border-radius: 4px;
}
.field>input{
    border-radius: 8px;
    margin-left: 40px;
    padding: 8px 5px;
    border: 1px solid gray;

}

.Efield>label{

    font-size: 15px;

    margin-left: 66px;

    color: #95959A;

}

.Efield>input{

    border-radius: 8px;

    margin-left: 66px;

    padding: 5px 140px;

    border: 1px solid gray;

}

 

.reEfield>label{

    font-size: 15px;

    margin-left: 66px;

    color: #95959A;

}

.reEfield>input{

    border-radius: 8px;

    margin-left: 66px;

    padding: 5px 140px;

    border: 1px solid gray;

}

.password>label{

    font-size: 15px;

    margin-left: 66px;

    color: #95959A;

}

.password>input{

    border-radius: 8px;

    margin-left: 66px;

    padding: 5px 140px;

    border: 1px solid gray

}

.repassword>label{

    font-size: 15px;

    margin-left: 66px;

    color: #95959A;

}

.repassword>input{

    border-radius: 8px;

    margin-left: 66px;

    padding: 5px 140px;

    border: 1px solid gray;

}

.button>label{

    font-size: 10px;

    margin-bottom: 10px;

    margin-left: 15px;

}

.button>input{

    margin-left: 80px;

    margin-bottom: 25px;

    border: 1px solid gray;

}

.button>label>span{

    color: #8969C0;

    text-decoration: underline;

}

.button>button{
    background-color: #977BC8;
    color: white;
    border-radius: 4px;
    padding: 8px 42px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    border: none;
    margin-left: 275px;
    margin-bottom: 20px;
}


.row1{

    display: flex;

}

.w-100 {

    width: 80%!important;

}

.input__field{

    margin-left: 65px;

    color: 1px solid gray;

    border-radius: 8px;

}

.input__field1{

    margin-right: 50px;

    color: 1px solid gray;

    border-radius: 8px;

}