<div class="signup3">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
         <img src="assets/BnR360.png" alt="" style="width:150px; height:85px;">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 offset-lg-8">
            <p>Completion Rate: 30%</p>
            <div class="w3-light-grey">
               <div class="w3-grey" style="height:24px;width:40%;margin-top: -40px; border-radius: 8px; margin-bottom: 20px; margin-left: 190px;"></div>
             </div>
           </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h1><u>Ready to start selling on Bnr?
            Here's the breakdown:</u></h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row1">
     <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="row">
            <div class="col-lg-1">
            <img src="assets/book.png" alt="" style="width:128px ; height:128px;">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 ">
            <div class="content">
            <h3>Learn what makes a successful profile</h3>
            <p>Discover the do's and don'ts to ensure you're always on the right track.</p>
            </div>
            </div>                    
        </div>
        <div class="row">
            <div class="col-lg-1">
            <img src="assets/user.png" alt="" style="width:128px ; height:128px;">

            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 ">

            <div class="content">

            <h3>Create your seller profile</h3>

            <p>Add your profile picture, description, and professional information.</p>

            </div>

            </div>                    

        </div>

 

        <div class="row">

            <div class="col-lg-1">

            <img src="assets/house.png" alt="" style="width:128px ; height:128px;">

            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 ">

            <div class="content">

            <h3>Publish your Gig</h3>

            <p>Create a Gig of the service you’re offering and start selling instantly.</p>

            </div>

            </div>                    

        </div>

       

     </div>

     <div class="col-lg-6 col-md-6 col-sm-6">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/bq2QbYFofNw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

     </div>

    </div>

   

    <div class="button text-center">

        <button type="button" routerLink="/seller">

            Next

        </button>

    </div>

    </div>

</div>
