<app-header></app-header>
<div class="container">

    <div class="myjob">
    
        <div class="col-lg-12 col-md-12 col-sm-12">
    
            <div class="row">
    
                <div class="col-lg-3 col-md-3 col-sm-12">
    
                    <div class="box">
    
                       <h3><u>Project Ongoing</u></h3>
    
                       <div class="line"></div>
    
                       <img src="assets/Profile.png" alt="">
    
                       <div class="row1">
    
                       <div class="profile">
    
                       <h6>Henry Cavil</h6>
    
                       <img src="assets/Group 150.png" alt="">
    
                       <img src="assets/Group 148.png" alt="">
    
                       </div>
    
                       <div class="row1">
    
                        <img src="assets/Chat.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 120px;" >
    
                        <img src="assets/Meet.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 14px;">
    
                       </div>
    
                      </div>
    
                      <h6><u>Need a Graphics Designer for logo designing urgently</u></h6>
    
                      <p>Please keep in mind we would pay to that designer whom design we would select to use.So please don't ask for payment before selection.If we would select your design then payment would be credited automatically.We need an expert designer for social media banner.Banner size height 820 and weight 640 pixel..We finalized an design for standee but size is different that's why we... See more</p>
    
                      <div class="line1"></div>
    
     
    
                      <img src="assets/Profile 1.png" alt="">
    
                       <div class="row1">
    
                       <div class="profile">
    
                       <h6>Henry Cavil</h6>
    
                       <img src="assets/Group 150.png" alt="">
    
                       <img src="assets/Group 148.png" alt="">
    
                       </div>
    
                       <div class="row1">
    
                        <img src="assets/Chat.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 120px;" >
    
                        <img src="assets/Meet.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 14px;">
    
                       </div>
    
                      </div>
    
                      <h6><u>Need a Graphics Designer for logo designing urgently</u></h6>
    
                      <p>Please keep in mind we would pay to that designer whom design we would select to use.So please don't ask for payment before selection.If we would select your design then payment would be credited automatically.We need an expert designer for social media banner.Banner size height 820 and weight 640 pixel..We finalized an design for standee but size is different that's why we... See more</p>
    
                      <div class="line1"></div>
    
     
    
                      <img src="assets/Profile 1.png" alt="">
    
                       <div class="row1">
    
                       <div class="profile">
    
                       <h6>Henry Cavil</h6>
    
                       <img src="assets/Group 150.png" alt="">
    
                       <img src="assets/Group 148.png" alt="">
    
                       </div>
    
                       <div class="row1">
    
                        <img src="assets/Chat.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 120px;" >
    
                        <img src="assets/Meet.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 14px;">
    
                       </div>
    
                      </div>
    
                      <h6><u>Need a Graphics Designer for logo designing urgently</u></h6>
    
                      <p>Please keep in mind we would pay to that designer whom design we would select to use.So please don't ask for payment before selection.If we would select your design then payment would be credited automatically.We need an expert designer for social media banner.Banner size height 820 and weight 640 pixel..We finalized an design for standee but size is different that's why we... See more</p>
    
                    </div>
    
                </div>
    
     
    
                <div class="col-lg-3 col-md-3 col-sm-12 offset-lg-2">
    
                    <div class="box" style="margin-left: -40px;">
    
                       <h3><u>Project completed</u></h3>
    
                       <div class="line"></div>
    
                       <img src="assets/Profile.png" alt="">
    
                       <div class="row1">
    
                       <div class="profile">
    
                       <h6>Henry Cavil</h6>
    
                       <img src="assets/Group 150.png" alt="">
    
                       <img src="assets/Group 148.png" alt="">
    
                       </div>
    
                       <div class="row1">
    
                        <img src="assets/Chat.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 120px;" >
    
                        <img src="assets/Meet.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 14px;">
    
                       </div>
    
                      </div>
    
                      <h6><u>Need a Graphics Designer for logo designing urgently</u></h6>
    
                      <p>Please keep in mind we would pay to that designer whom design we would select to use.So please don't ask for payment before selection.If we would select your design then payment would be credited automatically.We need an expert designer for social media banner.Banner size height 820 and weight 640 pixel..We finalized an design for standee but size is different that's why we... See more</p>
    
                      <div class="line1"></div>
    
     
    
                      <img src="assets/Profile 1.png" alt="">
    
                       <div class="row1">
    
                       <div class="profile">
    
                       <h6>Henry Cavil</h6>
    
                       <img src="assets/Group 150.png" alt="">
    
                       <img src="assets/Group 148.png" alt="">
    
                       </div>
    
                       <div class="row1">
    
                        <img src="assets/Chat.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 120px;" >
    
                        <img src="assets/Meet.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 14px;">
    
                       </div>
    
                      </div>
    
                      <h6><u>Need a Graphics Designer for logo designing urgently</u></h6>
    
                      <p>Please keep in mind we would pay to that designer whom design we would select to use.So please don't ask for payment before selection.If we would select your design then payment would be credited automatically.We need an expert designer for social media banner.Banner size height 820 and weight 640 pixel..We finalized an design for standee but size is different that's why we... See more</p>
    
                      <div class="line1"></div>
    
     
    
                      <img src="assets/Profile 1.png" alt="">
    
                       <div class="row1">
    
                       <div class="profile">
    
                       <h6>Henry Cavil</h6>
    
                       <img src="assets/Group 150.png" alt="">
    
                       <img src="assets/Group 148.png" alt="">
    
                       </div>
    
                       <div class="row1">
    
                        <img src="assets/Chat.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 120px;" >
    
                        <img src="assets/Meet.png" alt="" style="width: 43px; height: 43px; margin-top: -50px; margin-left: 14px;">
    
                       </div>
    
                      </div>
    
                      <h6><u>Need a Graphics Designer for logo designing urgently</u></h6>
    
                      <p>Please keep in mind we would pay to that designer whom design we would select to use.So please don't ask for payment before selection.If we would select your design then payment would be credited automatically.We need an expert designer for social media banner.Banner size height 820 and weight 640 pixel..We finalized an design for standee but size is different that's why we... See more</p>
    
                    </div>
    
                </div>
    
     
    
                <div class="col-lg-2 col-md-2 col-sm-12 offset-lg-2">
    
                    <div class="box1">
    
                        <img src="assets/Group 175.png" alt="" style="margin-left: 5px; margin-top: 5px;">
    
                        <div class="profile1">
    
                          <h6>Syed hassan Kamal
    
                            <p>(Online)</p></h6>
    
                            <p>Graphics Designer 5.0/5
    
                                $50/hr</p>
    
                            <div class="row2">
    
                                <div class="available">
    
                                    <div class="row3">
    
                                    <h6>Availablity Badge</h6><br>
    
                                    <p> Available now </p>
    
                                    <img src="assets/edit 1.png" alt="" style="width: 19px; height: 19px;margin-top: 46px; margin-left: 65px;">
    
                                    </div>
    
     
    
                                    <div class="row3">
    
                                        <h6>Working method</h6><br>
    
                                        <p> hourly</p>
    
                                        <img src="assets/edit 1.png" alt="" style="width: 19px; height: 19px;margin-top: 46px; margin-left: 135px;">
    
                                    </div>
    
     
    
                                    <div class="row3">
    
                                        <h6>Hourly per week</h6><br>
    
                                        <p> More than 30hrs/week </p>
    
                                        <img src="assets/edit 1.png" alt="" style="width: 19px; height: 19px;margin-top: 46px; margin-left: 15px;">
    
                                    </div>
    
                                </div>
    
                            </div>
    
     
    
                            <p style="margin-left: 18px;">My skills</p>
    
                            <div class="row">
    
                                <div class="box2">
    
                                    <p>Mobile UI</p>
    
                                </div>
    
                                <div class="box2">
    
                                    <p>Mobile UI</p>
    
                                </div>
    
                            </div>
    
                            <div class="row">
    
                                <div class="box2">
    
                                    <p>Mobile UI</p>
    
                                </div>
    
                                <div class="box2">
    
                                    <p>Mobile UI</p>
    
                                </div>
    
                            </div>
    
     
    
                            <p style="margin-left: 18px;">language</p>
    
                            <img src="assets/add 1.png" alt="" style="margin-left: 120px; margin-top: -80px;">
    
     
    
                            <div class="row4">
    
                                <p style="margin-left: 18px;">English</p>
    
                                <img src="assets/Rectangle 41.png" alt="" style="width: 78px; height: 8px; margin-left: 20px; margin-top: 20px;">
    
                            </div>
    
     
    
                            <div class="row4">
    
                                <p style="margin-left: 18px;">Urdu</p>
    
                                <img src="assets/Rectangle 41.png" alt="" style="width: 78px; height: 8px; margin-left: 38px; margin-top: 20px;">
    
                            </div>
    
     
    
                            <div class="row4">
    
                                <p style="margin-left: 18px;">French</p>
    
                                <img src="assets/Rectangle 41.png" alt="" style="width: 78px; height: 8px; margin-left: 24px; margin-top: 20px;">
    
                            </div>
    
     
    
                            <div class="row4">
    
                                <p style="margin-left: 18px;">Spanish</p>
    
                                <img src="assets/Rectangle 41.png" alt="" style="width: 78px; height: 8px; margin-left: 15px; margin-top: 20px;">
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
    
    </div>

