<div class="contents">
    <div class="col-lg-4 col-md-4 col-sm-4 offset-lg-4 text-center">
    <div class="heading">
     <h1>Why Bnr360 ?</h1>
       </div>
    </div>
       <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 text-center">
        <div class="para">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper urna pellentesque, condimentum eros congue, faucibus risus. Nam non tortor ullamcorper, dictum massa ac, euismod mi. Nam cursus malesuada dolor, nec sagittis nunc luctus sit amet. Nulla facilisi. Integer finibus ullamcorper porttitor. Nullam scelerisque interdum neque at blandit. Praesent neque massa, tincidunt id dignissim sed, malesuada convallis mauris. Vestibulum mollis mollis eros et rutrum. Suspendisse lorem nibh, pellentesque eu pulvinar sed, facilisis quis quam. Nunc nec facilisis ex. Mauris vestibulum enim non tellus condimentum, sed commodo urna congue. Fusce lobortis enim sit amet nisl aliquet, ut rutrum sem tincidunt. Praesent sagittis libero tempus leo posuere varius.</p>
        </div>
       </div>
     </div>