<div class="col-lg-12 col-md-12 col-sm-12">
<div class="sellerprofile">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
         <img src="assets/BnR360.png" alt="" style="width:150px; height:85px;">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 offset-lg-8">
            <p>Completion Rate: 100%</p>
            <div class="w3-light-grey">
               <div class="w3-grey" style="height:24px;width:70%;margin-top: -40px; border-radius: 8px; margin-bottom: 20px; margin-left: 190px;"></div>
             </div>
       </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2">
        <div class="box">
            <h1>Join Bnr 360 as a Seller </h1>
            <p style="margin-left: 60px; margin-top: 20px;">Certification <img src="assets/questionmark.png" alt="" style="width: 16px; height: 16px;"></p>
            <div class="box1">
                <div class="row">
                    <h6>
                        Graphic Designer | Bnr 360 <br> </h6>
                        <p>
                         February 2020 - January 2023
                    </p>
                   <div class="box3">
                    <img src="assets/Pencil.png" alt="">
                   </div>
                   <div class="box2">
                    <img src="assets/Bin.png" alt="">
                   </div>
                </div>
                <div class="line"></div>
                <div class="row">
                    <h6>
                        Graphic Designer | Bnr 360 <br> </h6>
                        <p>
                         February 2020 - January 2023
                    </p>
                   <div class="box3">
                    <img src="assets/Pencil.png" alt="">
                   </div>
                   <div class="box2">
                    <img src="assets/Bin.png" alt="">
                   </div>
                </div>
            </div>
            <p style="margin-left: 60px; margin-top: 20px;">Personal Website <img src="assets/questionmark.png" alt="" style="width: 16px; height: 16px;"></p>
            <div class="box4">
                <h6>www.personalwebsite.com</h6>
            </div>
            <p style="margin-left: 60px; margin-top: 20px;">Connect your Social Accounts <img src="assets/questionmark.png" alt="" style="width: 16px; height: 16px;"></p>
            <div class="box5">
                <div class="row">
                    <div class="media">
                    <img src="assets/Goo.png" alt="" style="width: 3%; height: 66%; margin-left: 25px;">
                    <p>www.personalwebsite.com</p>
                    <button class="button"> <a routerLink="">Verified</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="media">
                    <img src="assets/Facebook App Symbol.png" alt="" style="width: 3%; height: 66%; margin-left: 25px;">
                    <p>www.personalwebsite.com</p>
                    <button class="button1"> <a routerLink="">Connected</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="media">
                    <img src="assets/Behance.png" alt="" style="width: 3%; height: 66%; margin-left: 25px;">
                    <p>www.personalwebsite.com</p>
                    <button class="button1"> <a routerLink="">Connected</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="media">
                    <img src="assets/Twitter.png" alt="" style="width: 3%; height: 66%; margin-left: 25px;">
                    <p>www.personalwebsite.com</p>
                    <button class="button1"> <a routerLink="">Connected</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="media">
                    <img src="assets/Linkedin.png" alt="" style="width: 3%; height: 66%; margin-left: 25px;">
                    <p>www.personalwebsite.com</p>
                    <button class="button1"> <a routerLink="">Connected</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="media">
                    <img src="assets/Dribble.png" alt="" style="width: 3%; height: 66%; margin-left: 25px;">
                    <p>www.personalwebsite.com</p>
                    <button class="button1"> <a routerLink="">Connected</a></button>
                    </div>
                </div>
            <p style=" margin-top: 20px;">Phone number <img src="assets/questionmark.png" alt="" style="width: 16px; height: 16px;"></p>
            <div class="box6">
                <div class="row">
                    <div class="phone">
                        <img src="assets/United Kingdom.png" alt="" style= "margin-top: -5px;">
                        <img src="assets/next 9.png" alt="">
                        <p>+11 12345678901</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 offset-lg-5">
                <button class="btn"><a routerLink="/seller2">Next</a></button>
            </div>
        </div>
    </div>
</div>  
</div>
</div>